<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-xs-12">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
        <mat-card class="ac">
          <mat-card-header class="headerCardCenter">
            <mat-card-title>
              <h3>Mirabelle.io</h3>
              <p>{{'Your quotes at you clients place' | translate}}</p>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/images/Logo-Mirabelle.png" [routerLink]="['/']" class="logomira" alt="Bienvenue sur Mirabelle">
          <mat-card-content>


            <p>{{'Please enter your email below and we will send you password reset instructions.' | translate}}</p>
            <mat-form-field>
              <input matInput #userEmail type="text" formControlName="email" placeholder="Email" class="form-control" autofocus autocapitalize="none" autocomplete="off" spellcheck="false" autocorrect="none">
            </mat-form-field>

            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">{{'Please enter a valid email' | translate}}</div>
            <span class="help-block"></span>


            <!-- <mat-form-field>
          <input matInput #userEmail formControlName="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="{{'Password' | translate}}">
          <mat-error *ngIf="!password.valid && !password.pristine">
            {{'Your password must have at least 6 characters' | translate}}
          </mat-error>
        </mat-form-field> -->

          </mat-card-content>
          <mat-card-actions>
            <div class="login ac">
              <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">{{'Send' | translate}}</button>

            </div>
          </mat-card-actions>
        </mat-card>

      </form>
    </div>
  </div>
</div>
