<!-- <h6>{{'Create a new card' | translate}}</h6> -->
<div *ngIf="!hideAddress" class="row">
  <div class="col-12 col-lg-6">
    <div class="col-12">
      <b>{{'Invoice informations' | translate}}</b>
    </div>
    <br>
    <mat-form-field class="col-12">
      <input matInput type="text" [(ngModel)]="newCard.address_line1" placeholder="{{'Address' | translate}}">
    </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput type="text" [(ngModel)]="newCard.address_line2" placeholder="{{'Address line 2' | translate}}">
    </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput type="text" [(ngModel)]="newCard.address_zip" placeholder="{{'Zip' | translate}}">
    </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput type="text" [(ngModel)]="newCard.address_city" placeholder="{{'City' | translate}}">
    </mat-form-field>
    <!-- <mat-form-field class="col-12">
    <input matInput type="text" [(ngModel)]="newCard.address_state" placeholder="{{'State' | translate}}">
  </mat-form-field> -->
    <mat-form-field class="col-12">
      <input matInput type="text" [(ngModel)]="newCard.address_country" placeholder="{{'Country' | translate}}">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <b>{{'Bank card informations' | translate}}</b>
      </div>
      <br>
      <div class="col-12">
        <img mat-card-image src="/assets/images/cards.png" class="cards" alt="Paiement Sécurisé">
      </div>

      <mat-form-field class="col-12">
        <input matInput type="number" [(ngModel)]="newCard.number" placeholder="{{'Card number' | translate}}">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-12">
        <mat-select placeholder="{{'Card Exp month' | translate}}" [(ngModel)]="newCard.exp_month">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-12">
        <mat-select placeholder="{{'Card Exp Year' | translate}}" [(ngModel)]="newCard.exp_year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-12">
        <input matInput type="number" [(ngModel)]="newCard.cvc" placeholder="{{'Security code' | translate}}">
      </mat-form-field>
    </div>
  </div>

</div>
