<div *ngIf="showNavBar">
  <nav class="docs-navbar-header">
    <div>
      <mat-icon *ngIf="showBackButton" class="burgerNav unselectable" (click)="goBack()">arrow_back</mat-icon>
      <div *ngIf="!showBackButton">
        <div class="hideMobile">
          <mat-icon *ngIf="showSideNavBar" class="burgerNav unselectable" (click)="toggleSideBar()">menu</mat-icon>
          <mat-icon *ngIf="!showSideNavBar" class="burgerNav unselectable" (click)="toggleSideBar()">clear_all</mat-icon>
        </div>
        <div class="showMobile">
          <mat-icon *ngIf="!showBackButton && showSideNavBar unselectable" class="burgerNav" (click)="toggleSideBar()">clear_all</mat-icon>
          <mat-icon *ngIf="!showBackButton && !showSideNavBar unselectable" class="burgerNav" (click)="toggleSideBar()">menu</mat-icon>
        </div>
      </div>
    </div>

    <a [routerLink]="['/']">
        <img class="logo-img" src="./assets/images/Logo-Mirabelle-blanc.png">
    </a>
    <div class="flex-spacer"></div>
    <button (click)="newQuote()" class="unselectable noOutline" mat-mini-fab color="primary">
      <mat-icon aria-label="New">build</mat-icon>
    </button>
  </nav>
</div>
