<div *ngIf="!openCameraStraight">
  <label for="upload-photo">
    <mat-icon class="buttonImg" color="primary" aria-label="Camera">file_upload</mat-icon>
  </label>
  <input #fileInput name="file" id="upload-photo" type="file" (change)="onFileSelect($event)">
</div>
<div *ngIf="openCameraStraight">
  <label for="file" class="label-file">
    <mat-icon class="bigIcon pointer" color="primary" aria-label="Camera">photo_camera</mat-icon>
    <div>
      {{'Take a picture' | translate}}
    </div>
  </label>
  <input id="file" #fileInput type="file" accept="image/*" capture="camera" (change)="onFileSelect($event)" class="input-file" />
</div>
<div *ngIf="hasFiles()">
  <div *ngFor="let file of files" class="cho-filcnt">
    <img *ngIf="!isImagePure(file)" class="img-responsive" src="./assets/images/pdf_icon.png">
    <img [src]="file.objectURL" *ngIf="isImagePure(file)" class="img-responsive" onerror="this.src ='assets/images/no-image-found.jpg'"><br>
    <button type="button" class="dlt-btn" (click)="remove(i)"><i class="fa fa-trash"></i></button>
  </div>
</div>
<div class="sbmt-pic">
  <mat-progress-bar *ngIf="hasFiles() && submitStarted" [color]="primary" [mode]="determinate" [value]="progress">
  </mat-progress-bar>
</div>
