
  <div *ngIf="
    fetchedQuote._id &&
    fetchedQuote.statusQuote !=='rejected' &&
    fetchedQuote.statusQuote !=='pending' &&
    typeQuote === 'invoice'
  ">
    <button mat-button color="primary" (click)="downloadInvoicePDF()">
      <mat-icon aria-label="PDF">picture_as_pdf</mat-icon>
    </button>
    <div *ngIf="showLabel"> {{'Download PDF' | translate}}</div>
    <div *ngFor="let client of fetchedQuote.clients">
      <button mat-raised-button color="primary" (click)="sendInvoiceByEmailToClient()">
      <mat-icon aria-label="Email">email</mat-icon>
    </button> {{'Send by Email:' | translate}} {{client.email}}
    </div>
  </div>


  <div *ngIf="
    fetchedQuote._id &&
    typeQuote === 'quote'
  ">
    <button mat-button color="primary" (click)="downloadPDF()">
      <mat-icon color="accent" aria-label="PDF">picture_as_pdf</mat-icon>
    </button>
    <div *ngIf="showLabel"> {{'Download PDF' | translate}}</div>

    <div *ngFor="let client of fetchedQuote.clients">
      <button mat-raised-button color="primary" (click)="sendQuoteByEmailToClient()">
        <mat-icon aria-label="Email">email</mat-icon>
      </button>
      {{'Send by Email:' | translate}} {{client.email}}
    </div>
  </div>



<app-loadingInApp [loading]="loading"></app-loadingInApp>
